Repository metebykl/aeromod, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, @aeromod/desktop, @aeromod/ui

.github/labeler.yml:

rust:
  - changed-files:
      - any-glob-to-any-file: src-tauri/**/*

"@aeromod/desktop":
  - changed-files:
      - any-glob-to-any-file: apps/desktop/**/*

"@aeromod/ui":
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*

feat: add statistics page
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/routeTree.gen.ts
  apps/desktop/src/routes/_app/statistics.tsx
  packages/ui/src/components/card.tsx
  src-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop, @aeromod/ui

feat: add charts for addon types and status
  apps/desktop/package.json
  apps/desktop/src/routes/_app/statistics.tsx
  packages/ui/package.json
  packages/ui/src/components/chart.tsx
  pnpm-lock.yaml
Labels: @aeromod/desktop, @aeromod/ui

chore: update screenshot
  .github/screenshot.png
Labels: none

feat: add statistics page (#16)
  .github/screenshot.png
  apps/desktop/package.json
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/routeTree.gen.ts
  apps/desktop/src/routes/_app/statistics.tsx
  packages/ui/package.json
  packages/ui/src/components/card.tsx
  packages/ui/src/components/chart.tsx
  pnpm-lock.yaml
  src-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop, @aeromod/ui

chore: add github issue templates
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
Labels: none

chore: add github issue templates (#17)
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.feature_request.yml
Labels: none

feat: sort verification results by status
  apps/desktop/src/routes/_app/verify.tsx
  src-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop

feat: sort verification results by status (#18)
  apps/desktop/src/routes/_app/verify.tsx
  src-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop
