Repository metebykl/aeromod, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, @aeromod/desktop, @aeromod/ui

docs: correct license in README (#36)
  README.md
Labels: none

feat: introduce `aeromod-bgl` crate
  Cargo.lock
  Cargo.toml
  crates/aeromod-bgl/Cargo.toml
  crates/aeromod-bgl/src/lib.rs
Labels: rust

parse subsections and airports
  crates/aeromod-bgl/src/lib.rs
Labels: rust

fix
  crates/aeromod-bgl/src/lib.rs
Labels: rust

parse airport ident
  crates/aeromod-bgl/src/lib.rs
Labels: rust

refactor
  crates/aeromod-bgl/src/lib.rs
Labels: rust

rename `parse_bgl` to `load_bgl_objects` for clarity
  crates/aeromod-bgl/src/lib.rs
Labels: rust

remove dependency
  Cargo.lock
  crates/aeromod-bgl/Cargo.toml
Labels: rust

feat: introduce `aeromod-bgl` crate (#37)
  Cargo.lock
  Cargo.toml
  crates/aeromod-bgl/Cargo.toml
  crates/aeromod-bgl/src/lib.rs
Labels: rust

feat: build scenerycache on app startup
  Cargo.lock
  crates/aeromod-bgl/Cargo.toml
  crates/aeromod-bgl/src/lib.rs
  crates/aeromod-core/Cargo.toml
  crates/aeromod-core/src/lib.rs
  crates/aeromod-core/src/scenery.rs
  crates/aeromod-tauri/src/lib.rs
Labels: rust

feat: add scenery map
  apps/desktop/package.json
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/features/scenery/api.ts
  apps/desktop/src/features/scenery/hooks.ts
  apps/desktop/src/features/scenery/types.ts
  apps/desktop/src/routeTree.gen.ts
  apps/desktop/src/routes/_app/scenery.tsx
  crates/aeromod-core/src/scenery.rs
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
  pnpm-lock.yaml
Labels: rust, @aeromod/desktop

feat: add popup and navigate to addon page on click
  apps/desktop/src/features/scenery/types.ts
  apps/desktop/src/routes/_app/scenery.tsx
  crates/aeromod-core/src/scenery.rs
Labels: rust, @aeromod/desktop

feat: add scenery map (#38)
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/features/scenery/api.ts
  apps/desktop/src/features/scenery/hooks.ts
  apps/desktop/src/features/scenery/types.ts
  apps/desktop/src/routeTree.gen.ts
  apps/desktop/src/routes/_app/scenery.tsx
  crates/aeromod-bgl/Cargo.toml
  crates/aeromod-bgl/src/lib.rs
  crates/aeromod-core/Cargo.toml
  crates/aeromod-core/src/lib.rs
  crates/aeromod-core/src/scenery.rs
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
  pnpm-lock.yaml
Labels: rust, @aeromod/desktop

feat: add rebuild scenery cache button
  apps/desktop/src/features/scenery/api.ts
  apps/desktop/src/features/scenery/hooks.ts
  apps/desktop/src/routes/_app/scenery.tsx
  crates/aeromod-core/src/scenery.rs
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
Labels: rust, @aeromod/desktop

feat: add rebuild scenery cache button (#39)
  apps/desktop/src/features/scenery/api.ts
  apps/desktop/src/features/scenery/hooks.ts
  apps/desktop/src/routes/_app/scenery.tsx
  crates/aeromod-core/src/scenery.rs
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
Labels: rust, @aeromod/desktop

fix: block addons by content type and creator in scenery map
  crates/aeromod-core/src/scenery.rs
Labels: rust

fix: block addons by content type and creator in scenery map (#40)
  crates/aeromod-core/src/scenery.rs
Labels: rust

chore: release v0.15.0
  .github/screenshot.png
  README.md
  crates/aeromod-tauri/tauri.conf.json
Labels: rust

feat: add tabs to settings page
  apps/desktop/src/routes/_app/settings.tsx
  packages/ui/package.json
  packages/ui/src/components/tabs.tsx
  pnpm-lock.yaml
Labels: @aeromod/desktop, @aeromod/ui

feat: add tabs to settings page (#41)
  apps/desktop/src/routes/_app/settings.tsx
  packages/ui/package.json
  packages/ui/src/components/tabs.tsx
  pnpm-lock.yaml
Labels: @aeromod/desktop, @aeromod/ui

chore: release v0.15.1
  crates/aeromod-tauri/tauri.conf.json
Labels: rust

.github/labeler.yml:

rust:
  - changed-files:
      - any-glob-to-any-file: crates/**/*

"@aeromod/desktop":
  - changed-files:
      - any-glob-to-any-file: apps/desktop/**/*

"@aeromod/ui":
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
