Repository metebykl/aeromod, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, @aeromod/desktop, @aeromod/ui

feat: add support for installing addons from zip files
  Cargo.lock
  Cargo.toml
  crates/aeromod-fs/Cargo.toml
  crates/aeromod-fs/src/extract.rs
  crates/aeromod-fs/src/lib.rs
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/tauri.conf.json
Labels: rust

feat: add support for installing addons from zip files (#20)
  Cargo.lock
  Cargo.toml
  crates/aeromod-fs/Cargo.toml
  crates/aeromod-fs/src/extract.rs
  crates/aeromod-fs/src/lib.rs
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/tauri.conf.json
Labels: rust

refactor: move fs utilities to `aeromod‑fs`
  Cargo.lock
  crates/aeromod-fs/Cargo.toml
  crates/aeromod-fs/src/lib.rs
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/src/utils.rs
Labels: rust

refactor: move fs utilities to `aeromod‑fs` (#21)
  Cargo.lock
  crates/aeromod-fs/Cargo.toml
  crates/aeromod-fs/src/lib.rs
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/src/utils.rs
Labels: rust

feat: add support for installing addons from rar files
  Cargo.lock
  crates/aeromod-fs/Cargo.toml
  crates/aeromod-fs/src/extract.rs
Labels: rust

feat: add support for installing addons from rar files (#22)
  Cargo.lock
  crates/aeromod-fs/Cargo.toml
  crates/aeromod-fs/src/extract.rs
Labels: rust

refactor: make addon-related commands async
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/src/settings.rs
Labels: rust

refactor: make addon-related commands async (#23)
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/src/settings.rs
Labels: rust

fix: disable context menu in production
  apps/desktop/src/hooks/use-confirm.tsx
  apps/desktop/src/hooks/use-event-listener.ts
  apps/desktop/src/hooks/use-prompt.tsx
  apps/desktop/src/routes/__root.tsx
  apps/desktop/src/routes/_app/index.tsx
Labels: @aeromod/desktop

fix: disable context menu in production (#24)
  apps/desktop/src/hooks/use-confirm.tsx
  apps/desktop/src/hooks/use-event-listener.ts
  apps/desktop/src/hooks/use-prompt.tsx
  apps/desktop/src/routes/__root.tsx
  apps/desktop/src/routes/_app/index.tsx
Labels: @aeromod/desktop

refactor: adopt feature-based architecture in frontend
  apps/desktop/src/features/addons/api.ts
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/addons/types.ts
  apps/desktop/src/features/manifest/types.ts
  apps/desktop/src/features/onboarding/api.ts
  apps/desktop/src/features/onboarding/hooks.ts
  apps/desktop/src/features/settings/api.ts
  apps/desktop/src/features/settings/hooks.ts
  apps/desktop/src/features/settings/types.ts
  apps/desktop/src/lib/ipc.ts
  apps/desktop/src/routes/_app.tsx
  apps/desktop/src/routes/_app/addons/$addonId.tsx
  apps/desktop/src/routes/_app/index.tsx
  apps/desktop/src/routes/_app/settings.tsx
  apps/desktop/src/routes/_app/statistics.tsx
  apps/desktop/src/routes/_app/verify.tsx
  apps/desktop/src/routes/onboarding.tsx
Labels: @aeromod/desktop

refactor: adopt feature-based architecture in frontend (#25)
  apps/desktop/src/features/addons/api.ts
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/addons/types.ts
  apps/desktop/src/features/manifest/types.ts
  apps/desktop/src/features/onboarding/api.ts
  apps/desktop/src/features/onboarding/hooks.ts
  apps/desktop/src/features/settings/api.ts
  apps/desktop/src/features/settings/hooks.ts
  apps/desktop/src/features/settings/types.ts
  apps/desktop/src/lib/ipc.ts
  apps/desktop/src/routes/_app.tsx
  apps/desktop/src/routes/_app/addons/$addonId.tsx
  apps/desktop/src/routes/_app/index.tsx
  apps/desktop/src/routes/_app/settings.tsx
  apps/desktop/src/routes/_app/statistics.tsx
  apps/desktop/src/routes/_app/verify.tsx
  apps/desktop/src/routes/onboarding.tsx
Labels: @aeromod/desktop

feat: redesign addon details page with thumbnail and actions
  Cargo.lock
  apps/desktop/src/features/addons/api.ts
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/routes/_app/addons/$addonId.tsx
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop

feat: redesign addon details page with thumbnail and actions (#26)
  Cargo.lock
  apps/desktop/src/features/addons/api.ts
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/routes/_app/addons/$addonId.tsx
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop

refactor: improve query key management with factories
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/settings/hooks.ts
Labels: @aeromod/desktop

refactor: improve query key management with factories (#27)
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/settings/hooks.ts
Labels: @aeromod/desktop

feat: add sim tools page
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/features/sim/api.ts
  apps/desktop/src/features/sim/hooks.ts
  apps/desktop/src/routeTree.gen.ts
  apps/desktop/src/routes/_app/tools.tsx
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/mod.rs
  crates/aeromod-tauri/src/common/sim.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop

chore: update screenshot
  .github/screenshot.png
Labels: none

feat: add sim tools page (#28)
  .github/screenshot.png
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/features/sim/api.ts
  apps/desktop/src/features/sim/hooks.ts
  apps/desktop/src/routeTree.gen.ts
  apps/desktop/src/routes/_app/tools.tsx
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/mod.rs
  crates/aeromod-tauri/src/common/sim.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/tauri.conf.json
Labels: rust, @aeromod/desktop

feat: add support for installing multiple addons at once
  apps/desktop/src/features/addons/api.ts
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/addons/types.ts
  apps/desktop/src/routes/_app/index.tsx
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
Labels: rust, @aeromod/desktop

refactor: update toast messages
  apps/desktop/src/routes/_app/index.tsx
Labels: @aeromod/desktop

feat: add support for installing multiple addons at once (#29)
  apps/desktop/src/features/addons/api.ts
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/addons/types.ts
  apps/desktop/src/routes/_app/index.tsx
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/addon.rs
Labels: rust, @aeromod/desktop

feat: introduce addon presets
  apps/desktop/src/components/app-bar/index.tsx
  apps/desktop/src/components/app-bar/preset-menu.tsx
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/presets/api.ts
  apps/desktop/src/features/presets/components/create-preset-modal.tsx
  apps/desktop/src/features/presets/hooks.ts
  apps/desktop/src/features/presets/types.ts
  apps/desktop/src/lib/react-query.ts
  apps/desktop/src/lib/utils.ts
  apps/desktop/src/routes/_app.tsx
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/mod.rs
  crates/aeromod-tauri/src/common/preset.rs
  crates/aeromod-tauri/src/lib.rs
  packages/ui/package.json
  packages/ui/src/components/menubar.tsx
  pnpm-lock.yaml
Labels: rust, @aeromod/desktop, @aeromod/ui

chore: update screenshot
  .github/screenshot.png
Labels: none

feat: introduce addon presets (#30)
  .github/screenshot.png
  apps/desktop/src/components/app-bar/index.tsx
  apps/desktop/src/components/app-bar/preset-menu.tsx
  apps/desktop/src/components/sidebar.tsx
  apps/desktop/src/features/addons/hooks.ts
  apps/desktop/src/features/presets/api.ts
  apps/desktop/src/features/presets/components/create-preset-modal.tsx
  apps/desktop/src/features/presets/hooks.ts
  apps/desktop/src/features/presets/types.ts
  apps/desktop/src/lib/react-query.ts
  apps/desktop/src/lib/utils.ts
  apps/desktop/src/routes/_app.tsx
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/common/mod.rs
  crates/aeromod-tauri/src/common/preset.rs
  crates/aeromod-tauri/src/lib.rs
  packages/ui/package.json
  packages/ui/src/components/menubar.tsx
  pnpm-lock.yaml
Labels: rust, @aeromod/desktop, @aeromod/ui

feat: add about dialog
  Cargo.lock
  apps/desktop/src/components/app-bar/index.tsx
  apps/desktop/src/lib/utils.ts
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
Labels: rust, @aeromod/desktop

chore: update screenshot
  .github/screenshot.png
Labels: none

feat: add about dialog (#31)
  .github/screenshot.png
  Cargo.lock
  apps/desktop/src/components/app-bar/index.tsx
  apps/desktop/src/lib/utils.ts
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
Labels: rust, @aeromod/desktop

refactor: extract core and settings logic into separate crates
  Cargo.lock
  Cargo.toml
  crates/aeromod-core/Cargo.toml
  crates/aeromod-core/src/addon.rs
  crates/aeromod-core/src/lib.rs
  crates/aeromod-core/src/manifest.rs
  crates/aeromod-core/src/preset.rs
  crates/aeromod-core/src/sim.rs
  crates/aeromod-settings/Cargo.toml
  crates/aeromod-settings/src/lib.rs
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/src/settings.rs
Labels: rust

refactor: extract core and settings logic into separate crates (#32)
  Cargo.lock
  Cargo.toml
  crates/aeromod-core/Cargo.toml
  crates/aeromod-core/src/addon.rs
  crates/aeromod-core/src/lib.rs
  crates/aeromod-core/src/manifest.rs
  crates/aeromod-core/src/preset.rs
  crates/aeromod-core/src/sim.rs
  crates/aeromod-settings/Cargo.toml
  crates/aeromod-settings/src/lib.rs
  crates/aeromod-tauri/Cargo.toml
  crates/aeromod-tauri/src/app.rs
  crates/aeromod-tauri/src/lib.rs
  crates/aeromod-tauri/src/settings.rs
Labels: rust

fix: ensure preset application completes with accurate messaging and error handling
  apps/desktop/src/components/app-bar/preset-menu.tsx
  crates/aeromod-core/src/preset.rs
Labels: rust, @aeromod/desktop

fix: ensure preset application completes with accurate messaging and error handling (#33)
  apps/desktop/src/components/app-bar/preset-menu.tsx
  crates/aeromod-core/src/preset.rs
Labels: rust, @aeromod/desktop

chore: update recommended vscode extensions and settings
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

chore: release v0.13.0
  crates/aeromod-tauri/tauri.conf.json
Labels: rust

feat: add auto clear scenery indexes setting
  apps/desktop/src/features/settings/api.ts
  apps/desktop/src/features/settings/types.ts
  apps/desktop/src/routes/_app/settings.tsx
  apps/desktop/src/routes/onboarding.tsx
  crates/aeromod-settings/src/lib.rs
  crates/aeromod-tauri/src/app.rs
Labels: rust, @aeromod/desktop

feat: add auto clear scenery indexes option (#34)
  apps/desktop/src/features/settings/api.ts
  apps/desktop/src/features/settings/types.ts
  apps/desktop/src/routes/_app/settings.tsx
  apps/desktop/src/routes/onboarding.tsx
  crates/aeromod-settings/src/lib.rs
  crates/aeromod-tauri/src/app.rs
Labels: rust, @aeromod/desktop

fix: restore scroll position when navigating back to addon list
  apps/desktop/src/main.tsx
Labels: @aeromod/desktop

fix: restore scroll position when navigating back to addon list (#35)
  apps/desktop/src/main.tsx
Labels: @aeromod/desktop

chore: release v0.14.0
  crates/aeromod-tauri/tauri.conf.json
Labels: rust

docs: correct license in README
  README.md
Labels: none

.github/labeler.yml:

rust:
  - changed-files:
      - any-glob-to-any-file: crates/**/*

"@aeromod/desktop":
  - changed-files:
      - any-glob-to-any-file: apps/desktop/**/*

"@aeromod/ui":
  - changed-files:
      - any-glob-to-any-file: packages/ui/**/*
